{% extends "::baseAdmin.html.twig" %}

{% block body_admin %}
    <h2>Category Edition</h2>

    <div class="clear"></div> <!-- End .clear -->
    <div class="content-box"><!-- Start Content Box -->
        <div class="content-box-header">

            <div class="clear"></div>

        </div> <!-- End .content-box-header -->

        <div class="content-box-content">
            
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="notification success png_bg">
                        <div>{{ flashMessage }}</div>
                    </div>
                {% endfor %}
            
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="notification error png_bg">
                        <div>{{ flashMessage }}</div>
                    </div>
                {% endfor %}
            
                <form action="{{ path('category_admin_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate>
                    <div id="john_adminbundle_categorytype">
                        <p>
                            {{ form_label(edit_form.position, 'Position') }}
                            {{ form_widget(edit_form.position, { 'attr': {'class': 'text-input small-input'} })  }} {% if form_errors(edit_form.position) %}<span class="input-notification error png_bg">{{ form_errors(edit_form.position) }}</span> {% endif %}
                        </p>

                        <p>
                            {{ form_label(edit_form.title, 'Titre') }}
                            {{ form_widget(edit_form.title, { 'attr': {'class': 'text-input medium-input'} })  }} {% if form_errors(edit_form.title) %}<span class="input-notification error png_bg">{{ form_errors(edit_form.title) }}</span> {% endif %}
                        </p>

                        <p>
                            {{ form_label(edit_form.chapo, 'Chapô') }}
                            {{ form_widget(edit_form.chapo) }}

                            {% if form_errors(edit_form.chapo) %} <br/> <span class="input-notification error png_bg">{{ form_errors(edit_form.chapo) }}</span> {% endif %}
                        </p>

                        <p>
                            {{ form_label(edit_form.shortText, 'Texte court homepage') }}
                            {{ form_widget(edit_form.shortText) }}

                            {% if form_errors(edit_form.shortText) %} <br/> <span class="input-notification error png_bg">{{ form_errors(edit_form.shortText) }}</span> {% endif %}
                        </p>

                        <p>
                            {{ form_label(edit_form.body, 'Corps du texte') }}
                            {{ form_widget(edit_form.body) }}

                            {% if form_errors(edit_form.body) %} <br/> <span class="input-notification error png_bg">{{ form_errors(edit_form.body) }}</span> {% endif %}
                        </p>

                        <p>
                            {{ form_label(edit_form.isPicture, 'Y a-t-il une image principale?') }}
                            {{ form_widget(edit_form.isPicture) }} {% if form_errors(edit_form.isPicture) %}<span class="input-notification error png_bg">{{ form_errors(edit_form.isPicture) }}</span> {% endif %}
                        </p>

                        <p>
                            {{ form_label(edit_form.file, 'Image') }}
                            {% if entity.picture is defined and entity.picture is not null %}
                                {% set filter_picture_size = 'thumbnail_category' %}
                            <p><img class="article-img" alt="{{entity.picture}}" src="{{ asset(['uploads/', entity.picture] | join | apply_filter(filter_picture_size)) }}"></p>
                            {% endif %}
                            {{ form_widget(edit_form.file) }}  {% if form_errors(edit_form.file) %} <span class="input-notification error png_bg">{{ form_errors(edit_form.file) }}</span> {% endif %}
                        </p>

                        <p>
                            {{ form_label(edit_form.contactCat, 'Catégorie de type formulaire de contact ?') }}
                            {{ form_widget(edit_form.contactCat) }} {% if form_errors(edit_form.contactCat) %}<span class="input-notification error png_bg">{{ form_errors(edit_form.contactCat) }}</span> {% endif %}
                        </p>
                        
                        <p>
                            {{ form_label(edit_form.isVisible, 'Visible sur le site ?') }}
                            (Etat Actuel: {% if entity.isVisible %}OUI{% else %}NON{% endif %})<br/>
                            {{ form_widget(edit_form.isVisible) }} {% if form_errors(edit_form.isVisible) %}<span class="input-notification error png_bg">{{ form_errors(edit_form.isVisible) }}</span> {% endif %}
                        </p>
                    </div>

                    {{ form_rest(edit_form) }}
                    <p>
                        <button class="button" type="submit">Mettre à jour</button>
                    </p>
                </form>
        </div> <!-- End .content-box-content -->
    </div> <!-- End .content-box -->

{{ elfinder_tinymce_init4() }}
{{ tinymce_init() }}
{% endblock %}
