<header>
    <h2>{{ article.title | capitalize }}</h2>
    <time datetime="{{article.updatedAt|date("Y-m-dTH:i:s")}}" pubdate>Le {{ article.updatedAt | localizeddate('full', 'none') }}</time>
</header>

<br/>

<div class="description">
    {% if article.picture %}
        <img src="{{ asset(['uploads/', article.picture] | join | apply_filter('thumbnail_article')) }}"  alt="" class="image"/>
    {% endif %}
    {{ article.body | raw  }}
</div>