<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Lexik Mailer Administration{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/lexikmailer/css/bootstrap.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lexikmailer/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />
            <link rel="stylesheet" href="{{ asset('bundles/lexikmailer/css/mailer.css') }}" type="text/css" media="all" />	
            <link rel="stylesheet" href="{{ asset('bundles/johnadmin/css/button.css') }}" type="text/css" media="all" />	
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
            <div class="container">
            <ul class="nav">
               <li><a href="{{ path('homepage_admin') }}">Retour à l'administration du site</a></li>
               <li><a href="{{ path('lexik_mailer.email_list') }}">Liste des emails</a></li>
               <li><a href="{{ path('lexik_mailer.layout_list') }}">Liste des layouts</a></li>
           </ul>
            </div>
            </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>



