{% extends "::baseAdmin.html.twig" %}

{% block body_admin %}
    <!-- Page Head -->
    <h2>Bienvenue à toi {{ app.user.username }}</h2>
    <p id="page-intro">Que désires-tu faire ?</p>

    <ul class="shortcut-buttons-set"> <!-- Replace the icons URL's with your own -->
        <li>
            <a class="shortcut-button" href="{{path('category_admin_new')}}">
                <span>
                    <img src="{{ asset('bundles/johnadmin/images/icons/paper_content_pencil_48.png') }}" alt="icon" /><br />
                    Créer une catégorie
                </span>
            </a>
        </li>

        <li>
            <a class="shortcut-button" href="{{path('subcategory_admin_new')}}">
                <span>
                    <img src="{{ asset('bundles/johnadmin/images/icons/paper_content_pencil_48.png') }}" alt="icon" /><br />
                    Créer une sous-catégorie
                </span>
            </a>
        </li>

        <li>
            <a class="shortcut-button" href="{{path('newslettersubscriber_admin_new')}}">
                <span>
                    <img src="{{ asset('bundles/johnadmin/images/icons/image_add_48.png') }}" alt="icon" /><br />
                    Inscrire une personne à la newsletter
                </span></a></li>

        <li>

    </ul><!-- End .shortcut-buttons-set -->

    <div class="clear"></div> <!-- End .clear -->
{% endblock %} 