{% extends "::baseAdmin.html.twig" %}

{% block body_admin %}
    {% if entity.category is not null %}
       <h2>Article Creation for Category {{ entity.category }}</h2>
    {% elseif (entity.subCategory is not null) %}
       <h2>Article Creation for subCategory {{ entity.subCategory }}</h2>
    {% else %}
       <h2>Article Creation</h2>
    {% endif %}

    <div class="clear"></div> <!-- End .clear -->
    <div class="content-box"><!-- Start Content Box -->
        <div class="content-box-header">

            <div class="clear"></div>

        </div> <!-- End .content-box-header -->

        <div class="content-box-content">

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="notification success png_bg">
                    <div>{{ flashMessage }}</div>
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="notification error png_bg">
                    <div>{{ flashMessage }}</div>
                </div>
            {% endfor %}

            <form action="{{ path('article_admin_create') }}" method="post" {{ form_enctype(form) }} novalidate>
                <div id="john_adminbundle_articletype">
                    {% if entity.category is null and entity.subCategory is null %}
                        <p>
                            {{ form_label(form.category, 'Catégorie') }}             
                            {{ form_widget(form.category, { 'attr': {'class': 'small-input'} }) }}  {% if form_errors(form.category) %} <span class="input-notification error png_bg">{{ form_errors(form.category) }}</span> {% endif %}
                        </p>
                    {% endif %}

                    {% if entity.category is null and entity.subCategory is null %}
                        <p>
                            {{ form_label(form.subCategory, 'Sous catégorie') }}             
                            {{ form_widget(form.subCategory, { 'attr': {'class': 'small-input'} }) }}  {% if form_errors(form.subCategory) %} <span class="input-notification error png_bg">{{ form_errors(form.subCategory) }}</span> {% endif %}
                        </p>
                    {% endif %}

                    <p>
                        {{ form_label(form.title, 'Titre') }}
                        {{ form_widget(form.title, { 'attr': {'class': 'text-input medium-input'} })  }} {% if form_errors(form.title) %}<span class="input-notification error png_bg">{{ form_errors(form.title) }}</span> {% endif %}
                    </p>

                    <p>
                        {{ form_label(form.chapo, 'Chapô') }}
                        {{ form_widget(form.chapo) }}

                        {% if form_errors(form.chapo) %} <br/> <span class="input-notification error png_bg">{{ form_errors(form.chapo) }}</span> {% endif %}
                    </p>

                    <p>
                        {{ form_label(form.body, 'Corps du texte') }}
                        {{ form_widget(form.body) }}

                        {% if form_errors(form.body) %} <br/> <span class="input-notification error png_bg">{{ form_errors(form.body) }}</span> {% endif %}
                    </p>

                    <p>
                        {{ form_label(form.isPicture, 'Y a-t-il une image principale?') }}
                        {{ form_widget(form.isPicture) }} {% if form_errors(form.isPicture) %}<span class="input-notification error png_bg">{{ form_errors(form.isPicture) }}</span> {% endif %}
                    </p>

                    <p>
                        {{ form_label(form.file, 'Image') }}
                        {{ form_widget(form.file) }}  {% if form_errors(form.file) %} <span class="input-notification error png_bg">{{ form_errors(form.file) }}</span> {% endif %}
                    </p>

                    <p>
                        {{ form_label(form.video, 'Url Vidéo') }}
                        {{ form_widget(form.video, { 'attr': {'class': 'text-input large-input'} })  }} {% if form_errors(form.video) %}<span class="input-notification error png_bg">{{ form_errors(form.video) }}</span> {% endif %}
                    </p>   

                    <p>
                        {{ form_label(form.isVisible, 'Visible sur le site ?') }}
                        (Etat Actuel: {% if entity.isVisible %}OUI{% else %}NON{% endif %})<br/>
                        {{ form_widget(form.isVisible) }} {% if form_errors(form.isVisible) %}<span class="input-notification error png_bg">{{ form_errors(form.isVisible) }}</span> {% endif %}
                    </p>
                </div>

                {{ form_rest(form) }}
                <p>
                    <button class="button" type="submit">Mettre à jour</button>
                </p>
            </form>
        </div> <!-- End .content-box-content -->
    </div> <!-- End .content-box -->

    {{ elfinder_tinymce_init4() }}
    {{ tinymce_init() }}
{% endblock %}