{% extends '::base.html.twig' %}

{% block body %}
<div class="sheet clearfix">
    <div class="layout-wrapper">
        <div class="content-layout">
            <div class="content-layout-row">
                <div class="layout-cell content">
                    <article class="post article">
                        <div class="postcontent postcontent-0 clearfix">
                            <p><a href="{{ path('homepage') }}">Accueil</a> > <a href="{{ path('category_show', { 'slug': subCategory.category.slug }) }}">{{ subCategory.category.title }}</a> > {{ subCategory.title }} </p>

                            <h1 class="h1-left">{{ subCategory.title }}</h1>
                            <div style="margin-top:10px">
                            {% if articles is defined and articles is not empty %}
                                {% for article in articles %}
                                    {% include 'JohnSiteBundle:Article:articleListType.html.twig' with {'article' : article }  %}

                                    {% if loop.index != loop.last %}
                                    <div class="separation"></div>
                                    {% endif %}
                                {% endfor %}
                                <div class="clear"></div>
                                {{ knp_pagination_render(articles) }}
                            {% endif %}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
