{% extends "::base.html.twig" %}

{% block body %}
    <div class="sheet clearfix">
        <div class="layout-wrapper">
            <div class="content-layout">
                <div class="content-layout-row">
                    <div class="layout-cell content">
                        <article class="post article">
                            <div class="postcontent postcontent-0 clearfix">
                                {% for category in categoriesWithArticles %}
                                    {% if loop.first %}
                                        {# on ouvre les div au premier tour de boucle #}
                                        <div class="content-layout-wrapper">
                                            <div class="content-layout layout-item-3">
                                                <div class="content-layout-row">
                                                {% endif %}

                                                {# on affiche les informations de la catégorie #}    
                                                <div class="layout-cell {% if loop.index is divisibleby(3) %}layout-item-7{% else %}layout-item-5{% endif %}" style="width: 33%" >
                                                    <h1><a href="{{ path('category_show', { 'slug': category.slug }) }}">{{ category.title }}</a>{% if category.subCategories is defined and category.subCategories is not empty %}{% endif %}</h1>
                                                    <p style="text-align: center;"><a href="{{ path('category_show', { 'slug': category.slug }) }}"><img alt="" src="{{ asset(['uploads/', category.picture] | join | apply_filter('thumbnail_category')) }}"></a><br></p>
                                                    <p>{{ category.shortText| raw }}</p>
                                                </div>

                                                {% if loop.index is divisibleby(3) %}
                                                    {# on ferme les div toutes les 3 catégories #}
                                                </div>
                                            </div>
                                        </div>

                                        {# on place la barre de séparation #}
                                        <div class="separation"></div>

                                        {% if loop.index != loop.last %}
                                            {# on ouvre les div tant que l'on n'a pas atteint la dernière itération #}
                                            <div class="content-layout-wrapper">
                                                <div class="content-layout layout-item-3">
                                                    <div class="content-layout-row">
                                                    {% endif %}
                                                {% endif %}           

                                            {% endfor %}
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endblock %}
