{% extends "::baseAdmin.html.twig" %}

{% block body_admin %}

    <h1>SubCategory edit</h1>

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <form action="{{ path('subcategory_admin_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} novalidate>
        <div id="john_adminbundle_subcategorytype">
            <p>
                {{ form_label(form.category, 'Catégorie') }}             
                {{ form_widget(form.category, { 'attr': {'class': 'medium-input'} }) }}  {% if form_errors(form.category) %} <span class="input-notification error png_bg">{{ form_errors(form.category) }}</span> {% endif %}
            </p>

            <p>
                {{ form_label(form.position, 'Position') }}
                {{ form_widget(form.position, { 'attr': {'class': 'text-input small-input'} })  }} {% if form_errors(form.position) %}<span class="input-notification error png_bg">{{ form_errors(form.position) }}</span> {% endif %}
            </p>

            <p>
                {{ form_label(form.title, 'Titre') }}
                {{ form_widget(form.title, { 'attr': {'class': 'text-input medium-input'} })  }} {% if form_errors(form.title) %}<span class="input-notification error png_bg">{{ form_errors(form.title) }}</span> {% endif %}
            </p>

            <p>
                {{ form_label(form.shortText, 'Texte court homepage') }}
                {{ form_widget(form.shortText) }}

                {% if form_errors(form.shortText) %} <br/> <span class="input-notification error png_bg">{{ form_errors(form.shortText) }}</span> {% endif %}
            </p>

            <p>
                {{ form_label(form.body, 'Corps du texte') }}
                {{ form_widget(form.body) }}

                {% if form_errors(form.body) %} <br/> <span class="input-notification error png_bg">{{ form_errors(form.body) }}</span> {% endif %}
            </p>

            <p>
                {{ form_label(form.isPicture, 'Y a-t-il une image principale?') }}
                {{ form_widget(form.isPicture) }} {% if form_errors(form.isPicture) %}<span class="input-notification error png_bg">{{ form_errors(form.isPicture) }}</span> {% endif %}
            </p>

            <p>
                {{ form_label(form.file, 'Image') }}
                {{ form_widget(form.file) }}  {% if form_errors(form.file) %} <span class="input-notification error png_bg">{{ form_errors(form.file) }}</span> {% endif %}
            </p>

            <p>
                {{ form_label(form.isVisible, 'Visible sur le site ?') }}
                (Etat Actuel: {% if entity.isVisible %}OUI{% else %}NON{% endif %})<br/>
                {{ form_widget(form.isVisible) }} {% if form_errors(form.isVisible) %}<span class="input-notification error png_bg">{{ form_errors(form.isVisible) }}</span> {% endif %}
            </p>
        </div>

        {{ form_rest(form) }}
        <p>
            <button class="button" type="submit">Sauvegarder</button>
        </p>
    </form>

    {{ elfinder_tinymce_init4() }}
    {{ tinymce_init() }}

{% endblock %}