{% extends '::base.html.twig' %}

{% block body %}
    <div class="sheet clearfix">
        <div class="layout-wrapper">
            <div class="content-layout">
                <div class="content-layout-row">
                    <div class="layout-cell content">
                        <article class="post article">
                            <div class="postcontent postcontent-0 clearfix">
                              <p><a href="{{ path('homepage') }}">Accueil</a> > {{ category.title }}</p>
                            </div>
                            {# pas de sous catégorie #}
                            {% if subCategories is not defined %}
                                {# pas d'articles #}
                                {% if articles is not defined %}
                                    {# on affiche le contenu de la catégorie #}
                                    <h2 class="postheader">{{ category.title }}</h2>
                                    <div class="postcontent postcontent-0 clearfix">
                                        <p><img width="305" height="3" alt="" src="{{ asset('bundles/johnsite/images/line.jpg') }}" style="margin:0;"></p>
                                        {% include 'JohnSiteBundle:Article:article.html.twig' with {'article' : category} %}
                                    </div>
                                {% else %}
                                    {# des articles dont on affiche la liste #}
                                    {% for article in articles %}
                                        {% include 'JohnSiteBundle:Article:articleListType.html.twig' with {'article' : article }  %}

                                        {% if loop.index != loop.last %}
                                            <div class="separation"></div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="clear"></div>
                                    {{ knp_pagination_render(articles) }}
                                {% endif %}
                            {% else %}
                            {# au moins une sous catégorie #}
                                {# pas d'articles #}
                                {% if articles is not defined %}
                                    {# on affiche les sous catégories visibles #}
                                    <div class="postcontent postcontent-0 clearfix">
                                        {% for subCategory in subCategories %}
                                            {% if loop.first %}
                                                {# on ouvre les div au premier tour de boucle #}
                                                <div class="content-layout-wrapper">
                                                    <div class="content-layout layout-item-3">
                                                        <div class="content-layout-row">
                                            {% endif %}

                                            {# on affiche les informations de la sous catégorie #}    
                                            <div class="layout-cell {% if loop.index is divisibleby(3) or loop.index == loop.last %}layout-item-7{% else %}layout-item-5{% endif %}" style="width: 33%" >
                                                <h1><a href="{{ path('subcategory_show', { 'slug': subCategory.slug }) }}">{{ subCategory.title }}</a></h1>
                                                <p style="text-align: center;">
                                                    <a href="{{ path('subcategory_show', { 'slug': subCategory.slug }) }}">
                                                        <img alt="" src="{{ asset(['uploads/', subCategory.picture] | join | apply_filter('thumbnail_category')) }}" class="">
                                                    </a>
                                                    <br/>
                                                </p>
                                                {% if subCategory.chapo is not null and subCategory.chapo is not empty %}
                                                    <p>{{ subCategory.chapo| raw }}</p>
                                                {% endif %}
                                            </div>

                                            {% if loop.index is divisibleby(3) %}
                                                        {# on ferme les div toutes les 3 sous catégories #}
                                                        </div>
                                                    </div>
                                                </div>

                                                {# on place la barre de séparation horizontale #}
                                                <div class="separation"></div>

                                                {% if loop.index != loop.last %}
                                                    {# on ouvre les div tant que l'on n'a pas atteint la dernière itération #}
                                                    <div class="content-layout-wrapper">
                                                        <div class="content-layout layout-item-3">
                                                            <div class="content-layout-row">
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div style="display:inline-block; width:600px; vertical-align: top;">
                                        {# des articles dont on affiche la liste #}
                                        {% for article in articles %}
                                            {% include 'JohnSiteBundle:Article:articleListType.html.twig' with {'article' : article }  %}

                                            {% if loop.index != loop.last %}
                                                <div class="separation"></div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="clear"></div>
                                        {{ knp_pagination_render(articles) }}
                                    </div>
                                    <div style="display:inline-block; vertical-align: top; border-left: 1px solid #E0E0E0;">
                                    {# et des sous catégories qui apparaissent dans la colonne de droite #}
                                        <div class="postcontent postcontent-0 clearfix">
                                            <header>
                                                <h2 style="color:#1F69AF; margin-bottom:0; margin-left:10px; font-size:15px">Sous catégories:</h2>
                                            </header>
                                            <ul>
                                                {% for subCategory in subCategories %}
                                                    <li><a href="{{ path('subcategory_show', { 'slug': subCategory.slug }) }}">{{ subCategory.title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
